*{
  margin: 0;
padding: 0%;
list-style: none;
text-decoration: none;
}
/* .wavyHeader{
  min-height: 100vh;
  width: 100%;
  background: aqua;
  position: relative;

} */
.Container{
 overflow-x: hidden;
 overflow-y: hidden;
  height: 700px;
  width: 100%;
  padding: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  /* height: 100vh; */
}
.Container h1 {
  height: 50px;
  width: 400px;
  color: white;
}
.headingcolor{
  display: flex;
  gap: 5px;
}
#pinkcolor{
  color: pink;
}
.Container p {
  color: white;
  height: 50px;
  width: 400px;
}
.button {
  background-color: rgb(254, 146, 164);
  width: 100px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.download{
  display: flex;
}
.downloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin: 10px;
  cursor: pointer;
}

.first{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:first baseline ;
  gap: 30px;
  /* background-color: burlywood; */
}
.first h3{
  color: white;
}
.first b{
  color: white;
}
.Second{
  
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: black; */
  padding-top: 75px;
  flex-direction: column;
  /* background-color: cadetblue; */
}
.secondbutton{
  background-color: rgb(254, 146, 164);
  width: 100px;
  height: 30px;
 
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.star{
  height: 50px;
  width: 50px;
  padding: 0%;
  }
.images{
  position: relative;
  margin-bottom: 50px;
}
.firstImage{
  border-radius: 10px;
  padding-bottom: 30px;
}
.secondImage{
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%,-15%);
  overflow: hidden;
}
.star p {
  /* background-color: black; */
  color: black;
  margin-left: 80px;
}
/*header section ends here

/*footer section starts from here*/

.footer{
  height: 400px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

}

.color{
  color: rgb(46, 46, 249);
}
.footer1{
  margin: 40px;
  height: 400px;
  width: 400px;
}
.footer1 span{
  padding-top: 30px;
}
.footer1 p{
  padding-top: 30px;
}
.footer1 div{
  padding-top: 40px;
  display: flex;
  gap: 20px;
}
.listone{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.listTwo{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Login page' css start from here */

.Div1{
  margin: 0%;
  padding: 0%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.or{
  margin-top: 30px;
  color: rgb(202, 201, 201);
  margin-left: 150px;
}
.Signin{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Signinbutton{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  border:none;
  background-color: white;
  color: black;
  width: 300px;
  margin-right: 70px;
}
.Signinbutton:hover{
  border: 3px solid rgb(245, 241, 241);
}
/* signup css starts from here */
.signup{
    margin: 0%;
  padding: 0%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.otp{
  display: flex;
  align-items: center;


}
.Mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 10px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  padding: 20px;
  border-color: 10px solid black; */
}
.lock{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 30px;
}
/* Persona details css starts from here */
.Personal{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: brown;
}
/* .details{
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center; 
} */